.article-page {
    &.hide-sidebar-sm .left-sidebar {
        display: none;

        @include respond(md) {
            display: inherit;
        }
    }

    .main-article {
        background: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        overflow: hidden;

        &.main-article {
            margin-bottom: var(--section-separation);
        }

        .article-header {
            .article-image {
                img {
                    height: auto;
                    width: 100%;
                    max-height: 50vh;
                    object-fit: cover;
                }
            }

            .article-details {
                padding: var(--card-padding);
                padding-bottom: 0;
            }
        }

        .article-content {
            margin: var(--card-padding) 0;
            color: var(--card-text-color-main);

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .article-footer {
            margin: var(--card-padding);
            margin-top: 0;

            section:not(:first-child) {
                margin-top: var(--card-padding);
            }

            section {
                color: var(--card-text-color-tertiary);
                text-transform: uppercase;
                display: flex;
                align-items: center;
                font-size: 1.4rem;

                svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                    stroke-width: 1.33;
                }
            }

            .article-tags {
                flex-wrap: wrap;
                text-transform: unset;
            }

            .article-copyright, .article-lastmod {
                a {
                    color: var(--body-text-color);
                }
            }
        }
    }
}

#article-toolbar {
    display: flex;
    align-items: center;
    margin: 20px 0;

    @include respond(md) {
        display: none;
    }
}

.article-page.has-toc {
    scroll-behavior: smooth;

    .right-sidebar {
        padding: 0;
        display: none;

        @include respond(mlg) {
            display: block;
            top: var(--main-top-padding);
        }
    }

    #article-toolbar {
        display: block;

        @include respond(md) {
            padding: 0;
        }

        @include respond(xl) {
            margin-top: 0;
            position: sticky;
            top: var(--main-top-padding);
            flex-shrink: 1;

            a {
                background: transparent;
                box-shadow: none;
                border: 1px solid var(--accent-color);
                width: 100%;
                margin-right: 0;

                svg {
                    flex-shrink: 0;
                }
            }
        }
    }

    .main-container {
        align-items: start;
        flex-direction: column;

        @include respond(md) {
            flex-direction: row;
        }
        
        @include respond(xl) {
            flex-direction: row;
        }
    }

    .main {
        padding-top: 0;

        @include respond(md) {
            padding-top: var(--main-top-padding);
        }
        
        @include respond(xl) {
            padding-top: var(--main-top-padding);
        }
    }
}

.widget--toc {
    background-color: var(--card-background);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l1);
    display: flex;
    flex-direction: column;
    color: var(--card-text-color-main);
    overflow: hidden;

    #TableOfContents {
        overflow-x: auto;
        max-height: 75vh;

        ol,
        ul {
            margin: 0;
            padding: 0;
        }

        ol {
            list-style-type: none;
            counter-reset: item;

            li:before {
                counter-increment: item;
                content: counters(item, ".") ". ";
                font-weight: bold;
                margin-right: 5px;
            }
        }

        & > ul {
            padding: 0 1em;
        }

        li {
            margin: 15px 10px 15px 20px;
            padding: 5px;

            & > ol,
            & > ul {
                margin-top: 10px;
                margin-left: -5px;
                margin-bottom: -5px;

                & > li:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.related-contents--wrapper {
    margin-bottom: var(--section-separation);
}

.related-contents {
    overflow-x: auto;
    padding-bottom: 15px;

    & > .flex {
        float: left;
    }

    article {
        margin-right: 15px;
        flex-shrink: 0;
        overflow: hidden;
        width: 250px;
        height: 150px;

        .article-title {
            font-size: 1.8rem;
            margin: 0;
        }

        &.has-image {
            .article-details {
                padding: 20px;
            }
        }
    }
}

.article-content {
    font-family: var(--article-font-family);
    font-size: var(--article-font-size);
    padding: 0 var(--card-padding);
    line-height: var(--article-line-height);

    & > p {
        margin: 1.5em 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: fit-content;
        &:before {
            content: "「";
            display: inline;
            padding-right: 0.3em;
            color: var(--accent-color);
        }

        &:after {
            content: "」";
            display: inline;
            padding-left: 0.3em;
            color: var(--accent-color);
        }
    }

    figure {
        text-align: center;

        figcaption {
            font-size: 1.4rem;
            color: var(--card-text-color-secondary);
        }
    }

    blockquote {
        border-radius: var(--in-article-card-border-radius);
        margin: 1em 0px;
        border-color: var(--blockquote-border-color);
        border-top-width: var(--in-article-card-border-width);
        border-top-style: solid;
        padding: var(--in-article-card-padding);
        background-color: var(--blockquote-background-color);

        // Without this, p will have margin 17, do not know why this happened.
        // Set p margin 0 to fix this problem.
        p {
            margin: 0;
        }

        &::before
        {
            content: "QUOTE\D\A";
            position: relative;
            top: -0.5em;
            white-space: pre;
            font-weight: bold;
        }
    }

    hr {
        width: 150px;
        margin: 30px auto;
        background: var(--card-text-color-tertiary);
        height: 2px;
        border: 0;
        opacity: 0.55;
    }

    code {
        color: var(--code-text-color);
        background-color: var(--code-background-color);
        padding: 2px 4px;
        border-radius: var(--tag-border-radius);
        font-family: var(--code-font-family);
    }

    .gallery {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1.5em 0;

        img {
            border-radius: var(--image-border-radius);
            border-width: 1px;
            border-style: solid;
        }

        figure {
            margin: 0;

            & + figure {
                margin-left: 10px;
            }
        }
    }

    pre {
        overflow-x: auto;
        display: block;
        margin: 1em 0px;
        background-color: var(--pre-background-color);
        color: var(--pre-text-color);
        font-family: var(--code-font-family);
        line-height: 1.428571429;
        word-break: break-all;
        padding: var(--in-article-card-padding);
        border-top-width: var(--in-article-card-border-width);
        border-top-style: solid;
        border-color: var(--pre-border-color);
        border-radius: var(--in-article-card-border-radius);

        code {
            color: unset;
            border: none;
            background: none;
            padding: 0;
        }

        &::before
        {
            content: "CODE\D\A";
            position: relative;
            top: -0.5em;
            font-size: 1.1em;
            white-space: pre;
            font-weight: bold;
            letter-spacing: 0.1em;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 1.5em;
        font-size: 0.96em;
    }

    th,
    td {
        text-align: left;
        padding: 4px 8px 4px 10px;
        border: 1px solid var(--table-border-color);
    }

    td {
        vertical-align: top;
    }

    tr:nth-child(even) {
        background-color: var(--tr-even-background-color);
    }

    .twitter-tweet {
        color: var(--card-text-color-main);
    }

    .video-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;

        & > iframe,
        & > video {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border: 0;
        }
    }

    /// Negative margins
    figure,
    .video-wrapper,
    .s_video_simple {
        margin-left: calc((var(--card-padding)) * -1);
        margin-right: calc((var(--card-padding)) * -1);
        width: calc(100% + var(--card-padding) * 2);
    }

    .highlight {
        position: relative;
    }

    .copyCodeButton {
        position: absolute;
        top: 16px;
        right: 15px;
        background: var(--card-background);
        border: none;
        border-radius: var(--tag-border-radius);
        padding: 8px 16px;
        color: var(--card-text-color-main);
        cursor: pointer;
        font-size: 14px;
    }
}

// Add tag feature
.notice,
.important,
.success,
.danger,
.info {
    padding: var(--in-article-card-padding);
    border-top-width: var(--in-article-card-border-width);
    border-top-style: solid;
    margin: 1em 0;
    border-radius: var(--in-article-card-border-radius);

    &:before {
        content: var(--tag-content) "\D\A";
        white-space: pre;
        font-weight: bold;
    }
}

.notice {
    background-color: var(--notices-notice-background);
    border-color: var(--notices-notice-border);
    --tag-content: "NOTICE!";
    }

.important {
    background-color: var(--notices-important-background);
    border-color: var(--notices-important-border);
    --tag-content: "IMPORTANT";
    }

.success {
    background-color: var(--notices-success-background);
    border-color: var(--notices-success-border);
    --tag-content: "SUCCESS!";
    }

.danger {
    background-color: var(--notices-danger-background);
    border-color: var(--notices-danger-border);
    --tag-content: "DANGER!";
    }

.info {
    background-color: var(--notices-info-background);
    border-color: var(--notices-info-border);
    --tag-content: "INFO";
    }

// set word-break for code.
code {
    word-break: break-all;
}